/* Dojo Based css styling */

* {
    outline: none !important;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    
}

body {
    font-family: Lucida Sans,Lucida Grande,Arial !important;
    font-size: 13px !important;
    background: white;
    color: #333;
    position: relative;
}

h1 {
    font-size:2.5em;
    text-align: center;
}

#appLayout {
    height: 100%;
}

#leftCol {
    width: 159px;
}

#appLayout .mainHeading {
    margin: 0;
}

.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}

#upload_file_list tr td {
    text-align: center;
}

#viewsChart {
    width: 550px; 
    height: 550px;
}
.topLink {
    position: absolute;
    top: 0;
    left: -200px;
}

.warningTooltip {
    display: inline-block;
    background: url('images/warning.png');
    height: 18px;
    width: 18px;
    vertical-align: middle;
    cursor: pointer;
}

.warningDialog {
    width: 350px;
}

.dijitTreeContainer {
    width: auto !important;
}

.search_result {
    background-color: yellow;
}

.directive_type {
    font-weight: bold;
}

/*Init based CSS*/
#initFormInstallationType {
    max-width: 500px;
}

#initFormInstallationType label {
    font-weight: bold;
}

#initFormInstallationType p {
    margin-bottom: 0;
}

#initFormInstallationType h4 {
    margin-bottom: 0;
}

#initFormPackage .dijitSelectLabel {
    width: 172px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

/* Main Heading */
#titlePane {
    position: relative;
}

#titleContainer {
    height: 105px;
}

#mainHeading {
    position: absolute;
    width: 300px;
    z-index: 0;
    margin-left: -150px;
    left: 50%;
}

#leftTitlePane {
    float: left;
    position: relative;
    z-index: 10;
}

#loginBody #logoutButtonContainer {
    visibility:hidden;
}

/* Word Wrap grids */
.dojoxGridCell {
    word-wrap: break-word;    
}

/* Code Mirror Based Styling */
.CodeMirror {
    height: 100%;    
}

.center-me {
    background-color: yellow !important;
}

#fileform {
    height: 100%;
}

.CodeMirror-scroll {
    height: 100%; 
    overflow-y: auto;
    overflow-x: auto;
}

.CodeMirror-dialog {
    border: 1px solid #B5BCC7;
    padding: 8px;
    background: #ffffff;
    cursor: move;
}

#searchPane {
    position: absolute;
    z-index: 900;
    left: 50%;
    top: 50%;
    width: 725px;
    text-align: center;
    margin-left:-312px;
}

/* Auto Suggest styling */
.autoSuggestContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    max-height: 350px;
    z-index: 951;
    background-color: #ffffff;
    border: 1px solid #000000;
}

.autoSuggestKeywordContainer {
    display: inline-block;
    vertical-align: top;    
    width: auto;
    height: auto;
    padding: 0;
}

.autoSuggestKeywordContainer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.autoSuggestKeywordContainer ul li {
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    cursor: pointer;
    padding: 0 5px;
}    

.autoSuggestKeywordContainer ul li:hover,
.autoSuggestKeywordContainer ul li.selected {
    background-color: #557697;
    color: #fff;
}    

.autoSuggestDescriptionContainer {
    display: inline-block;
    vertical-align: top;    
    width: auto;
    height: 300px;
    padding: 0;
    overflow: auto;
    border-left: 1px solid #000000;
}

.autoSuggestDescriptionContainer.hover_state {
    border-left: none;
}    

.autoSuggestDescriptionContainer .header {
    background-color: #557697;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0.5em;
    padding: 0.2em 0 0.2em 0.7em;
    text-decoration: none;
}

.autoSuggestDescriptionContainer .name,
.autoSuggestDescriptionContainer .value,
.autoSuggestDescriptionContainer .manual_link {
    padding: 2px 5px;
}

.autoSuggestDescriptionContainer .name {
    color: #0073c7;
    font-weight: bold;   
}

.autoSuggestDescriptionContainer .value {
    color: #036;
}

.autoSuggestDescriptionContainer code,
.autoSuggestDescriptionContainer pre {
   font-family: "Courier New",Courier,monospace; 
}

/* Configuration Tree Styling */
.tree_container .enclosure,
.tree_container .directive {
    width: 15px;
    height: 15px;
}
.tree_container .enclosure {
    background: url('images/enclosure.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.tree_container .directive {
    background: url('images/directive.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.tree_container .example {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.configuration_tree_legend_container,
.configuration_tree_legend_container #example_container,
.configuration_tree_legend_container #right_click_container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* Control specific css */
#controlBody .running {
    color: #00ff00;
}

#controlBody .stopped {
    color: #ff0000;
}

/* logs specific css rules */
#logsBody .CodeMirror-scroll {
    height: auto; 
    overflow-y: auto;
    overflow-x: auto;
}

#logsBody #optionPane {
    height: 124px;
}

/* History specific css rules */
#historyBody #searchTable,
#historyBody #graphTable,
#historyBody #optionsTable
 {
    margin: 0 auto;    
}

#historyBody #searchTable,
#historyBody #graphTable {
    width:650px;
}

#historyBody #searchTable > tbody > tr > td,
#historyBody #graphTable > tbody > tr > td{
    width:191px;    
}

#historyBody #optionsTable {
    width: 650px;
    margin-bottom: 30px;    
}

#historyBody #optionsTable > tbody > tr > td {
    width: 300px;
}

#historyBody .button_container {
    margin-top: 10px;
}

#historyBody #dijit_layout_TabContainer_0_tablist {
    border-bottom: 1px solid #b5bcc7;
}

#historyBody .dijitTabContainerTop-container,
#historyBody .dijitTabContainerTop-tabs {
    border: none !important;
}

#historyBody .dijitButtonText {
    font-weight: normal;
}

#historyBody #search_database_schema,
#historyBody #graph_database_schema {
    margin-top: 10px;
}

#historyBody #search_database_schema h4,
#historyBody #graph_database_schema h4 {
    margin-top: 0;
}

#historyBody #delete_database_update,
#historyBody #graph_database_query {
    margin-bottom: 10px;
}

#historyBody .SQLKeyword {
    color: #0000AA;
}

#historyBody .SQLOperator {
    color: #777777;
}

#historyBody pre {
    white-space: pre-wrap;
}

/*GUISettings specific css rules*/
#guiSettingsBody #guiInfoTable td{
    padding: 5px;
    vertical-align: top;
}

#guiSettingsBody #settingsGrid {
    margin-bottom: 10px;
}

#guiSettingsBody #updateEncodingDialog p {
    width: 400px;    
}

/*Editor specific css rules */ 
body.editor .editorMenuItem {
    width: 175px;
}

body.editor .editorMenuItem .option{
    float: left;
    line-height: 16px;
    vertical-align: middle;
}

body.editor .editorMenuItem .command{
    float: right;
    font-size: 11px;
    line-height: 16px;
    vertical-align: middle;
}

body.editor .menu_selected {
    color: #162252; font-weight: bold; font-size: 1.2em;
}

body.editor #menu_toolbar.dijitToolbar {
    background: none !important;
    border: none !important;
    padding: 4px 0 0 4px !important;
}

body.editor #editor_theme_selector {
    vertical-align: middle;
}

body.editor #searchResults p {
    margin: 5px 10px 5px 20px;
}

body.editor #filename_container {
    display: inline-block;
    height: 19px;
    margin-left: 10px;
}

body.editor #filename_container em {
    font-weight: bold;
    font-style: normal;    
}    

/*Global Settings Specific css rules */
#GlobalSettingsBody h3 {
    display: inline-block;
    margin: 0;
    height: 100%;
}

#GlobalSettingsBody .column_two {
    display: inline-block;
    width: 47%;
    padding-right: 2%;
    vertical-align: top;
}

#GlobalSettingsBody #listeningContainer .dijitButton,
#GlobalSettingsBody #nameVirtualHostContainer .dijitButton {
    display: block;
    margin-top: 15px;
}

#GlobalSettingsBody #keepAliveContainer .dijitButton,
#GlobalSettingsBody #requestSettingsContainer .dijitButton,
#GlobalSettingsBody #serverSettingsContainer .dijitButton {
    display: block;
    margin-top: 10px;
}

#GlobalSettingsBody #serverTokenPreviewContainer span.hidden {
    display: none;
}

#GlobalSettingsBody #serverTokenPreviewContainer span.selected {
    display: inline;
}

/*Virtual Hosts css rules */
#virtualHostsBody hr {
    background-color: #666666;
    border: 0 none;
    height: 1px;
    margin: 15px 0;
}

#virtualHostsBody h4 {
    border-bottom: 1px solid #666666;
    padding-bottom: 6px;
}    

#virtualHostsBody #name_virtual_host_container {
    margin-bottom: 35px;
}

#virtualHostsBody .configuration_tree_legend_container,
#virtualHostsBody #example_container,
#virtualHostsBody #select_host_container,
#virtualHostsBody #right_click_container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

#virtualHostsBody #select_host_container #select_host_box {
    display: inline-block;
    vertical-align: middle;
}    

#virtualHostsBody  #tree_virtual_host_container h4 .file {
    font-size: 12px !important;
    font-weight: normal;
}

#virtualHostsBody #add_host_container {
    display: inline-block;
    vertical-align: middle;
}

