<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0" metadata-complete="true" id="APACHEGUI_ID"> 
  <display-name>ApacheGUI</display-name>
  
  <absolute-ordering/>
  
  <listener>
    <listener-class>net.apachegui.global.ServerContextListener</listener-class>
  </listener>
    
  <mime-mapping>
    <extension>csv</extension>
    <mime-type>text/csv</mime-type>
  </mime-mapping>
   
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>SecretProtection</web-resource-name>
      <url-pattern>/jsp/*</url-pattern>
      <url-pattern>/web/*</url-pattern>
      <url-pattern>/HistoryFiles/*</url-pattern>
      <url-pattern>/search/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>apachegui</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/jsp/Login.jsp</form-login-page>
      <form-error-page>/jsp/Login.jsp?error=true</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>apachegui</role-name>
  </security-role>
  
  <filter>
     <filter-name>CharacterEncodingFilter</filter-name>
     <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
     <init-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
     </init-param>
     <init-param>
        <param-name>forceEncoding</param-name>
        <param-value>true</param-value>
     </init-param>
  </filter>

  <filter>
    <filter-name>SharedModuleFilter</filter-name>
    <filter-class>net.apachegui.modules.SharedModuleFilter</filter-class>
  </filter>

  <filter-mapping>
     <filter-name>CharacterEncodingFilter</filter-name>
     <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>SharedModuleFilter</filter-name>
    <url-pattern>/web/Init/CheckFirstTime</url-pattern>
  </filter-mapping>
  
  <servlet>
     <servlet-name>spring</servlet-name>
	 <servlet-class>
		org.springframework.web.servlet.DispatcherServlet
	 </servlet-class>
	 <load-on-startup>1</load-on-startup>
   </servlet>
   
   <servlet>
     <servlet-name>jsp</servlet-name>
     <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
   </servlet>

   <servlet-mapping>
	 <servlet-name>spring</servlet-name>
	 <url-pattern>/</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
     <servlet-name>jsp</servlet-name>
     <url-pattern>/WEB-INF/jsp/*</url-pattern>
   </servlet-mapping>

   <context-param>
	 <param-name>contextConfigLocation</param-name>
	 <param-value>/WEB-INF/spring-servlet.xml</param-value>
   </context-param>
   
</web-app>